html, body{
    padding: 0;
    border: 0;
}

.cont-principal{
    padding: 10px;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.cont-principal h1{
    text-align: center;
    text-transform: uppercase;
}

#agregacion{
    display: flex;
    align-items: center;
    justify-content: center;
}

#agregacion label,input,button{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
}

#agregacion input{
    border: none;
    background-color: bisque;
    padding: 1px;
    text-align: center;
    border-radius: 20px;
}

#agregacion button{
    border: none;
    width: 100px;
    background-color: #ffb451;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#agregacion button:hover{
    background-color: rgb(255,145,0);
}

#lista{
    margin: 10px;
    padding: 5px;
}

#lista ul{
    display: flex;
    list-style: none;
    padding: 0px;
    flex-wrap: wrap;
}

#lista ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
    border: solid black 1px;
    width: 12%;
    box-sizing: border-box;
}

#lista ul li .botones{
    margin: 10px;
    display: flex;
}

#lista ul li .botones button{
    margin: 0;
    width: 50%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

#lista ul li .botones button.eliminar, button.favorito{
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

#lista ul li .botones button.eliminar:hover{
    background-color: red;
    color: white;
    transform: translateY(-2.5px);
}

#lista ul li .botones button.favorito:hover{
    transform: translateY(-5px)
}